{include file="public/header"}
<body style="padding:10px;">
<form class="layui-form">
    <input type="hidden" name="gid" value="{:isset($role.gid) ? $role.gid : ''}" \>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-inline">
            <input type="text" lay-verify="required" class="layui-input" name="title"
                   value="{:isset($role.title) ? $role.title : ''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限菜单</label>
        {foreach $menus as $row}
        <div class="layui-input-block">
            <input type="checkbox" name="menu[{$row.mid}]" lay-skin="primary" title="{$row.title}"
                   {:isset($role['rights']) && $role['rights'] && in_array($row.mid, $role['rights']) ? 'checked' : ''} />
            <hr  style= " width: 110px; background-color:transparent; height:1px;border:none;border-top:1px dashed #e6e6e6;  ">
            <div style="padding-left: 20px;">
            {volist name="$row.children" id="r"}
            <input type="checkbox" name="menu[{$r.mid}]" lay-skin="primary" title="{$r.title}"
                   {:isset($role['rights']) && $role['rights'] && in_array($r.mid, $role['rights']) ? 'checked' : ''} />
            {/volist}
            </div>
            <hr>
        </div>
        {/foreach}
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  lay-submit lay-filter="addRoleFrom">保存</button>
        </div>
    </div>
</form>
{include file="public/foot"}
<script type="text/javascript">
    layui.use(['layer','form'],function(){
        form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
        //监听提交
        form.on('submit(addRoleFrom)', function (data) {
            $.post('/index.php/roles/save',data.field,function(res){
                if(res.code>0){
                    layer.msg(res.msg,{icon:2, time:500});
                }else{
                    layer.msg(res.msg,{time:500});
                    setTimeout(function(){parent.window.location.reload();},500);
                }
            },'json');
            return false;
        });
    });
</script>
